*,
::after,
::before {
  padding: 0%;
  margin: 0%;
}
nav {
  background-color: rgba(125, 250, 8, 0.7);
  height: 100%;
  width: 85%;
  min-width: auto;
  float: right;
}

header > img {
  margin-top: 1%;
  width: 14%;
  float: left;
  padding-bottom: 2%;
}

header form {
  margin-top: 2%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 80%;
  height: 15%;
}

header input[type="search"] {
  width: 40%;
  padding: 0.2%;
  padding-left:1%;
  background-color: rgb(247, 245, 241);
  border-radius: 2rem;
  margin-bottom: 1%;
  box-shadow: black 0px 0px 20px;
  
}

input[type="search"]::placeholder {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: right;
}

#btn_search {
  margin-left: 4%;
  margin-bottom: 1%;
  width: 17%;
  padding: 0.2%;
  border-radius: 2rem;
  background-color: rgb(255, 166, 0);
  box-shadow: black 0px 0px 20px;
  color: black;
  font-weight: bold;
  font-size: 1.3rem;
}

#btn_search:hover {
  cursor: pointer;
  color: rgb(255, 166, 0);
  background-color: rgb(3 28 41);
}

nav ul {
  width: 80%;
  height: 100%;
  margin-top: 1%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: flex-end;
  list-style: none;
}

nav ul > li {
  margin-left: 1%;
  width: 100%;
  height: 100%;
  box-shadow: black 0px 0px 15px;
}
nav > div {
  width: 100%;
}
nav a {
  display: block;
  text-decoration: none;
  background-color: #42943c;
  font-weight: bold;
  color: white;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 5%;
  margin-left: 2%;
}

nav a:hover {
  transition: 0.4s;
  font-size: 1.4rem;
  color: #44a33d;
  background-color: white;
  font-weight: 900;
}

nav > ul > li:last-child {
  border-right: solid #44a33d;
  padding-right: 20%;
}

header {
  height: 12vh;
}

body {
  height: 100%;
  background-image: url(../Images/background_code.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

main {
  clear: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: flex-start;
  text-align: center;
  height: 80vh;
  width: 100vw;
  margin-top: 0%;
  border-radius: 1rem;
}

main > h1 {
  width: 100%;
  height: 10%;
  align-self: left;
  background-color: rgba(125, 250, 8, 0.8);
  text-shadow: black 3px 3px 9px;
  font-weight: bold;
  font-size: 3rem;
  color: black;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  padding-top: 4%;
  padding-bottom: 2%;
}

main > h2 {
  width: 70%;
  height: 10%;
  align-self: left;
  background-color: rgba(255, 166, 0, 0.8);
  color: black;
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
  padding-top: 3%;
  padding-bottom: 1%;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

main > a {
  align-self: center;
  text-decoration: none;
  background-color: rgba(125, 250, 8, 0.8);
  color: black;
  font-size: 1.5rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  border-radius: 4rem;
  padding: 2%;
  margin-bottom: 4%;
}

main a:hover {
  transition: 0.2s;
  color: #42943c;
  background-color: white;
  font-weight: bold;
}
/***********************************media queries ****************************/
@media screen and (min-width:721px) and (max-width:920px) {
 
  header{
    height: 50vh;
  }

  header form{
    flex-direction: column;
    width:100%;
    height:20%;
    margin-bottom: 2%;
    margin-top:6%;
  }

  nav {
    background-color: rgba(125, 250, 8, 0.7);
    width: 100%;
    display: block;
  }

  nav ul {
    width: 100%;
    height: 100%;
    margin-top: 1%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: flex-end;
    list-style: none;
    flex-wrap: wrap;
  }

  nav ul > li {
    margin-left: 5%;
    margin-top:4%;
    width: 40%;
    height: 100%;
    box-shadow: black 0px 0px 15px;
  }

  #search{
    width:90%;
  }

  #btn_search{
    width: 50%;
    margin-top: 3%;
  }

  header > img {
    width:80%;
    display: block;
    margin-left:12%;
  }
}

@media screen and (max-width:720px){
  main>h1{
    font-size: 1.7rem;
    margin: none;

  }

  header{
    height: 50vh;
  }

  header form{
    flex-direction: column;
    width:100%;
    height:20%;
    margin-bottom: 10%;
    margin-top:15%;
  }

  nav {
    background-color: rgba(125, 250, 8, 0.7);
    width: 100%;
    height: auto;
    display: block;
  }

  nav ul {
    width: 100%;
    height: 100%;
    margin-bottom: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: flex-end;
    list-style: none;
    flex-wrap: wrap;
  }

  nav ul > li {
    margin-left: 5%;
    margin-top:4%;
    width: 40%;
    height: 100%;
    box-shadow: black 0px 0px 15px;
  }

  #search{
    width:90%;
    margin-bottom: 5%;
  }

  #btn_search{
    width: 50%;
    margin:auto;
  }

  header > img {
    width:80%;
    display: block;
    margin-left:12%;
  }

  body > main > a{
    margin: none;
  }

  main>h2{
    font-size:1.4rem;
    width:95%;
    margin: none;
  }

  main{
    justify-content:space-evenly;
    text-align: center;
  }
}

